<main>
    <section id="my-posts">
        <h1>My post</h1>
        {{#if creatures}}
        <div class="my-container">
            <!-- If there are own posts in the database display each of them -->
            {{#each creatures}}
            {{>profileTemplete}}
            {{/each}}
            {{else}}
            <!-- If there are still no own posts in the database display: -->
            <div class="no-posts">
                <p class="no-offer">There are no own posts yet...</p>
            </div>
            {{/if}}
        </div>
    </section>

</main>