<article class="content-publication">
    <h1>Title: {{title}}</h1>

    <p>Number of people shared the publication: {{usersShared.length}}</p>
    <a href="/arts/{{_id}}/details" class="image-details">View publication</a>
</article>